<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
		 version="5.0">



	<!-- Login page -->
	<welcome-file-list>
		<welcome-file>ServletLogin</welcome-file>
	</welcome-file-list>



	<!-- Servlet Mapping





	<servlet>
		<servlet-name>ServletLogin</servlet-name>
		<servlet-class>com.example.trainease.servlet.ServletLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletLogin</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletAddUser</servlet-name>
		<jsp-file>/addUser.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAddUser</servlet-name>
		<url-pattern>/addUser</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UsersListServlet</servlet-name>
		<jsp-file>/UsersList.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersListServlet</servlet-name>
		<url-pattern>/UsersList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProfilServlet</servlet-name>
		<jsp-file>/profil.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfilServlet</servlet-name>
		<url-pattern>/profil</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>addCourseServlet</servlet-name>
		<jsp-file>/addCourse.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>addCourseServlet</servlet-name>
		<url-pattern>/addCourse</url-pattern>
	</servlet-mapping>






	<servlet>
		<servlet-name>formationServlet</servlet-name>
		<jsp-file>/formation.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>formationServlet</servlet-name>
		<url-pattern>/formation</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>formateurProfilServlet</servlet-name>
		<jsp-file>/formateurProfil.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>formateurProfilServlet</servlet-name>
		<url-pattern>/formateurProfil</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>homeServlet</servlet-name>
		<jsp-file>/Home.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>liste_participantsServlet</servlet-name>
		<jsp-file>/liste_participants.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>liste_participantsServlet</servlet-name>
		<url-pattern>/liste_participants</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>liste_formateursServlet</servlet-name>
		<jsp-file>/liste_formateurs.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>liste_formateursServlet</servlet-name>
		<url-pattern>/liste_formateurs</url-pattern>
	</servlet-mapping>

	liste_formations

	<servlet>
		<servlet-name>liste_formationsServlet</servlet-name>
		<jsp-file>/liste_formations.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>liste_formationsServlet</servlet-name>
		<url-pattern>/liste_formations</url-pattern>
	</servlet-mapping>
-->

</web-app>
